/Sistemas_Operacionais/ShedulingPID/build/
/Complexidade_Algoritmos/Desafio1/nbproject/private/
/Complexidade_Algoritmos/Desafio1/build/
/Complexidade_Algoritmos/Desafio2/Desafio2/nbproject/private/
/Complexidade_Algoritmos/Desafio2/Desafio2/build/
/Complexidade_Algoritmos/Desafio3/Desafio3/nbproject/private/
/Complexidade_Algoritmos/Desafio3/Desafio3/build/