/Sistemas_Operacionais/ShedulingPID/build/
/Complexidade_Algoritmos/Desafio1/nbproject/private/
/Complexidade_Algoritmos/Desafio1/build/
/Complexidade_Algoritmos/Desafio2/Desafio2/nbproject/private/
/Complexidade_Algoritmos/Desafio2/Desafio2/build/
/Complexidade_Algoritmos/Desafio3/Desafio3/nbproject/private/
/Complexidade_Algoritmos/Desafio3/Desafio3/build/
/Complexidade_Algoritmos/Desafio4/Desafio4/nbproject/private/
/Complexidade_Algoritmos/Desafio4/Desafio4/build/
/Complexidade_Algoritmos/Desafio4/Desafio4/dist/
/Complexidade_Algoritmos/Desafio5/Desafio5/nbproject/private/
/Complexidade_Algoritmos/Desafio5/Desafio5/build/